asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
Django==3.1.12
django-bootstrap3==12.1.0
django-cors-headers==3.7.0
idna==2.10
lxml==4.6.2
numpy==1.19.5
opencv-python==4.5.1.48
Pillow==8.1.2
prompt-toolkit==3.0.17
PyJWT==1.7.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
twilio==6.54.0
urllib3==1.26.4
wcwidth==0.2.5
