{% extends "base.html" %}
    <!-- Header part end-->
{% load static %}
{% block content %}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>About Us</h2>
                            <p>Home<span>/</span>About Us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


   <!--::review_part start::-->
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>A Site For Farmers</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>Farmer is considered as the backbone of Indian economy. If the farmer do good then it is beneficial for the farmer and also for the country.Services sector is the largest sector of India.
Gross Value Added (GVA) at current prices for Services sector is estimated at 92.26 lakh crore INR in 2018-19. Services sector accounts for 54.40% of total India's GVA of 169.61 lakh
crore Indian rupees. With GVA of Rs. 50.43 lakh crore, Industry sector contributes 29.73%. While, Agriculture and allied sector shares 15.87%.</h5>
                    		<br> <br> <br>
               		</div>

		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Agriculture Is Lifeline</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>At 2011-12 prices, composition of Agriculture & allied, Industry, and Services sector are 14.39%, 31.46%, and 54.15%, respectively.Share of primary (comprising agriculture, forestry,
fishing and mining & quarrying), secondary (comprising manufacturing, electricity, gas, water supply & other utility services, and construction) and tertiary (services) sectors have been
estimated as 18.57 per cent, 27.03 per cent and 54.40 per cent.According to CIA Fackbook sector wise Indian GDP composition in 2017 are as follows : Agriculture (15.4%), Industry (23%)
and Services (61.5%). With production of agriculture activity of $375.61 billion, India is 2nd larger producer of agriculture product. India accounts for 7.39 percent of total global
agricultural output.</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>What We Provide</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>Farmers friend is a web portal designed to help farmers to produce the high yield at the minimum cost and efforts of farmer.It is designed aiming to Helping the farmers in terms of Crop
suggestion includes which type of crop require more water,type of soil,weather conditions etc.Provides precautions based on the meteorological department forecast of rainfall and weather
conditions.It can help in predicting possible pest, insect attacks so that the farmer is well prepared, weather warnings etc.It provides details to farmers on weather patterns that could
impact the crop.It provides Steps for producing high yield that are specific for a farmer based on the local, regional terrain , weather scenario , rather than generic guidance.It also
provides Better Farmer Financial Inclusion for planning out loans , interest and managing his costs.The Purpose of this analysis is beneficial for Farmers, Pesticide firms , Govt agencies
helping farmers , Agriculture loan banks.
</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->

    <!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="index.html"> <img src="{% static 'krishi_chaupal/img/logo.png' %}" alt=""> </a>
                        <p>But when shot real her. Chamber her one visite removal six
                            sending himself boys scot exquisite existend an </p>
                        <p>But when shot real her hamber her </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>SMS Broadcast</h4>
                        <p>Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
                        </p>


                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter Phone Number'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter phone number'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>



                        <div class="social_icon">
                            <a href="#"> <i class="ti-facebook"></i> </a>
                            <a href="#"> <i class="ti-twitter-alt"></i> </a>
                            <a href="#"> <i class="ti-instagram"></i> </a>
                            <a href="#"> <i class="ti-skype"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span> Hath of it fly signs bear be one blessed after </p>
                            <p><span> Phone :</span> +2 36 265 (8060)</p>
                            <p><span> Email : </span>info@colorlib.com </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>
    <!-- footer part end-->


    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

{% endblock %}
