{% extends "base.html" %}
{% load static %}
{% block content %}
<body>

    <!-- Header part end-->


    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Frequenlty Asked Questions</h2>
                            <p><span><span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


<!--Questions-Area -->
    <section id="questions_page" class="questions-area section-padding">
        <div class="container">
            <br> <br> <br>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="toggole-boxs">
                        <h3>Ques  1. What is farmer’s friend portal? </h3>
                        <div>
                            <p>Ans. This is a web portal designed to help the farmer to maximize its yield by providing necessary information like crop suggestion, crop prediction, adverse conditions of weather on crops, possible measures that can be taken by farmers, loan planning and various schemes etc.</p>
                        </div>
                        <h3>Ques 2. Who can use it?</h3>
                        <div>
                            <p>Ans. This is designed for farmers specially but it can also be beneficial if anyone wants to gather information about the crops and related information. This can also be used by government agencies and pesticides firms to provide the necessary information of different schemes launched by government and the possible pest attacks so that the farmer will be well prepared respectively.</p>
                        </div>
                        <h3>Ques 3. How to use the portal? </h3>
                        <div>
                            <p>Ans. You only need to sign up once and then login to use the portal.there also exist </p>
                        </div>
                        <h3>Ques 4. How I get the messege alert? </h3>
                        <div>
                            <p>Ans. When you sign up then you automatically registered for messege alert or you can also get the updates by just register your number once. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="space-20 hidden visible-xs"></div>

                    <div class="toggole-boxs">
                        <h3>Ques  5. Do i get personalised messeges based on my location? </h3>
                        <div>
                            <p>Ans. yes, during sign up you will be asked your location. once you register then you will be provided personalised messeges.</p>
                        </div>
                        <h3>Ques  6. How can you suggest crop? </h3>
                        <div>
                            <p>Ans. You will be asked about the soil moisture content then based on your soil type you will be suggested the crops that can grows best on your field with minimum efforts and maximized outputs. </p>
                        </div>
                        <h3>Ques 7. Are you providing loans?</h3>
                        <div>
                            <p>Ans. No, we are not providing any type of loans we are only providing information regarding them.</p>
                        </div>
                        <h3>Ques 8. Are you selling seeds also?</h3>
                        <div>
                            <p>Ans. No, we are not seeling seeds. We are only predicting what kind of seeds will grow best according to your soil type.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="home.html"><center> <img src="img/logo.png" alt="" class="logo"></center> </a>
			<style>img.logo {
  height: 50%;
  width: 50%;
}
</style>
                        <p>This is a web portal designed specially to help farmer in providing them full assistance.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>SMS Broadcast</h4>
                        <p>This service facilitate the farmer to get the information about any adverse weather condition instantly.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter Phone Number'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter phone number'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span> Institute of Engineering and Technology<br>Jankipuram Sector F<br>Sitapur Road,Lucknow 226021<br></p>
                            <p><span> Phone : </span>+917007110758<br>  +917905770800<br> </p>
                            <p><span> Email :</span>1705210063@ietlucknow.ac.in<br>1705210057@ietlucknow.ac.in<br></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>
    <!-- footer part end-->




    <!-- jquery plugins here-->
    <!-- jquery -->
{% endblock %}
