{% extends "base.html" %}
{% load static %}
{% block content %}



    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>Read More</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


   <!--::review_part start::-->
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Crop suggestion </h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>You will be asked about your soil moisture content and then With the help of AI, you will be suggested to plant appropriate crop which will be the best for your soil to grow. </h5>
                    		<br> <br> <br>
               		</div>

		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Schemes</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>All information about various government schemes to facilitate the farmers.</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Planning a loan?</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>Compare between loans provided by various banks and choose the suitable one. </h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->

<!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="home.html"><center> <img src="img/ourlogo.png" alt="" class="logo"></center> </a>
			<style>img.logo {
  height: 50%;
  width: 50%;
}
</style>
                        <p>This is a web portal designed specially to help farmer in providing them full assistance.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>SMS Broadcast</h4>
                        <p>This service facilitate the farmer to get the information about any adverse weather condition instantly.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter Phone Number'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter phone number'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span> Institute of Engineering and Technology<br>Jankipuram Sector F<br>Sitapur Road,Lucknow 226021<br></p>
                            <p><span> Phone : </span>+917007110758<br>  +917905770800<br> </p>
                            <p><span> Email :</span>1705210063@ietlucknow.ac.in<br>1705210057@ietlucknow.ac.in<br></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>
    <!-- footer part end-->



{% endblock %}
