{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                          <br />
                          <br />
                            <h2>RICE</h2>
                            <p>Oryza Sativa, it is believed, is associated with wet, humid climate, though it is not a tropical plant. It is probably a descendent of wild grass that was most likely cultivated in the foothills of the far Eastern Himalayas. Another school of thought believes that the rice plant may have originated in southern India, then spread to the north of the country and then onwards to China. It then arrived in Korea, the Philippines (about 2000 B. C.) and then Japan and Indonesia (about 1000 B. C.).
The journey of rice around the world has been slow, but once it took root it stayed and became a major agriculture and economic product for the people. In the Indian subcontinent more than a quarter of the cultivated land is given to rice (20011-12). It is a very essential part of the daily meal in the southern and eastern parts of India. In the northern and central parts of the subcontinent, where wheat is frequently eaten, rice holds its own and is cooked daily as well as on festivals and special occasions.
<span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


   <!--::review_part start::-->
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>History of Rice in India</h2>

                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>India is an important centre of rice cultivation. The rice is cultivated on the largest areas in India. Historians believe that while the indica variety of rice was first domesticated in the area covering the foothills of the Eastern Himalayas (i.e. north-eastern India), stretching through Burma, Thailand, Laos, Vietnam and Southern China, the japonica variety was domesticated from wild rice in southern China which was introduced to India. Perennial wild rice still grow in Assam and Nepal. It seems to have appeared around 1400 BC in southern India after its domestication in the northern plains. It then spread to all the fertile alluvial plains watered by rivers. Some says that the word rice is derived from the Tamil word arisi.</h5>
                    		<br> <br> <br>
               		</div>

		</div>
        </div>
    </section>
    <!--::blog_part end::-->

<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Climatic Requirements</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>In India rice is grown under widely varying conditions of altitude and climate. Rice cultivation in India extends from 8 to35 N latitude and from sea level to as high as 3000 meters. Rice crop needs a hot and humid climate. It is best suited to regions which have high humidity, prolonged sunshine and an assured supply of water. The average temperature required throughout the life period of the crop ranges from 21 to 37 C. Maximum temp which the crop can tolerate 400C to 42 0C.
</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
<!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Nutritional value of Rice</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>Rice is a nutritional staple food which provides instant energy as its most important component is carbohydrate (starch). On the other hand, rice is poor in nitrogenous substances with average composition of these substances being only 8 per cent and fat content or lipids only negligible, i.e., 1per cent and due to this reason it is considered as a complete food for eating. Rice flour is rich in starch and is used for making various food materials. It is also used in some instances by brewers to make alcoholic malt. Likewise, rice straw mixed with other materials is used to produce porcelain, glass and pottery. Rice is also used in manufacturing of paper pulp and livestock bedding.
The variability of composition and characteristics of rice is really broad and depends on variety and environmental conditions under which the crop is grown. In husked rice, protein content ranges in between 7per cent to 12per cent. The use of nitrogen fertilizers increases the percentage content of some amino acids.
</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Medicinal Value</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>The immense diversity of rice germplasm is a rich source for many rice based products and is also used for treating many health related maladies such as indigestion, diabetes, arthritis, paralysis, epilepsy and give strength to pregnant and lactating mothers. Ancient Ayurvedic literature testify the medicinal and curative properties of different types of rice grown in India. Medicinal rice varieties like Kanthi Banko (Chhattisgarh), Meher, Saraiphul & Danwar (Orissa), Atikaya & Kari Bhatta (Karnataka), are very common in India. Few varieties cultivated in restricted pockets of Kerala for their medical properties e.g. Chennellu, Kunjinellu, Erumakkari & Karuthachembavu etc.
</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Crop Production Practices</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>In India Rice is mainly grown in two types of soils i.e., (i) uplands and (ii) low lands. The method of cultivation of rice in a particular region depends largely on factors such as situation of land, type of soils, irrigation facilities, availability of labourers intensity and distribution of rainfalls. The crop of rice is grown with the following methods<br>
o       Dry or Semi-dry upland cultivation<br>
o	Broadcasting the seed<br>
o	Sowing the seed behind the plough or drilling<br>
o	Wet or lowland cultivation<br>
o	Transplanting in puddled fields<br>
o	Broadcasting sprouted seeds in puddled fields<br>

</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Selection of Seeds</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>The use of quality seeds in cultivation of rice is an important factor to get better crop yield. Therefore, proper care has to be taken in selecting seeds of the best quality. Much of the success in raising the healthy seedlings depends on the quality of seed. Seeds intended for sowing should satisfy the following requirements<br>
o	The seed should belong to the proper variety, which is proposed to be grown.<br>
o	The seed should be clean and free from obvious mixtures of other seeds.<br>
o	The seed should be mature, well developed and plump in size.<br>
o	The seed should be free from obvious signs of age or bad storage.<br>
o	The seed should have a high germinating capacity.<br>
Before sowing the seed should be treated with fungicides which protects the seed against soil-born fungi and also give a boost to the seedlings.


</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->

<!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Regions of production</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

         <h5>
	<br>
o	Karnataka<br>
o	Assam<br>
o	Odisha<br>
o	Chhattisgarh<br>
o	Bihar<br>
o	Tamil Nadu<br>
o	Punjab<br>
o	Andhra Pradesh<br>
o	Uttar Pradesh<br>
o	West Bengal<br>
</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
 <!--::blog_part end::-->

<!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="home.html"><center> <img src="img/ourlogo.png" alt="" class="logo"></center> </a>
			<style>img.logo {
  height: 50%;
  width: 50%;
}
</style>
                        <p>This is a web portal designed specially to help farmer in providing them full assistance.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>SMS Broadcast</h4>
                        <p>This service facilitate the farmer to get the information about any adverse weather condition instantly.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter Phone Number'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter phone number'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span> Institute of Engineering and Technology<br>Jankipuram Sector F<br>Sitapur Road,Lucknow 226021<br></p>
                            <p><span> Phone : </span>+917007110758<br>  +917905770800<br> </p>
                            <p><span> Email :</span>1705210063@ietlucknow.ac.in<br>1705210057@ietlucknow.ac.in<br></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>
    <!-- footer part end-->




    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- swiper js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
{% endblock %}
