{% extends "base.html" %}
{% load static %}
{% block content %}



    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                          <br /><br />
                            <h2>WHEAT</h2>
                            <p>Wheat is the main cereal crop in India. The total area under the crop is about 29.8 million hectares in the country. The production of wheat in the country has increased significantly from 75.81 million MT in 2006-07 to an all time record high of 94.88 million MT in 2011-12. The productivity of wheat which was 2602 kg/hectare in 2004-05 has increased to 3140 kg/hectare in 2011-12. The major increase in the productivity of wheat has been observed in the states of Haryana, Punjab and Uttar Pradesh. Higher area coverage is reported from MP in recent years.</p><br>
<p> The reasons of low production and productivity of Wheat at that time was (a) the tall growing plant habit resulting in lodging, when grown under fertile soils, (b) the poor tillering and low sink capacity of the varieties used, (c) higher susceptibility to diseases, (d) the higher sensitivity to thermo & photo variations, etc., resulting in poor adaptability, and (e) longer crop duration resulting in a long exposure of plants to the climatic variations and insect pest / disease attacks.</p><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->


   <!--::review_part start::-->
    <section class="special_cource padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Agroclimatic zone of wheat</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>


India is divided in to six  wheat growing zone based on the agroclimatic conditions. These zone are mentioned as follows:</h5>

<h4>North-Western Plains Zone (NWPZ)</h4>

<h5>This zone covers part of sub-humid Satlej-Ganga Alluvial plains and arid western plains comprises Punjab, Haryana, Delhi, Rajasthan, western Uttar Pradesh, part of Jammu and Kashmir and Himachal Pradesh and contributes nearly 45% production from 37% of total area under wheat in India. Growing season is relatively short starting from November to April. Triticum aestivum species of wheat is dominates in this zone.</h5><br>

<h4>North-Eastern Plains Zone (NEPZ)</h4>

<h5>This zone covers sub-humid Satluj-Ganga alluvial plains, humid Bengal-Assam basin, humid eastern Himalayan region and Bay of Island. The zone comprises eastern Uttar Pradesh, Bihar, Orissa, West Bengal, Assam, Sikkim, Arunachal Pradesh and other eastern states and contributes about 24% of total production of wheat from 27% area. Crop season start from November till March/April, however, cool seasons are relatively short in this zone. Sowing is often delayed due to higher moisture conditions in the field after rice.</h5><br>

<h4>Central Zone (CZ)</h4>

<h5>Parts of arid western plains, semi-arid lava plateau, Central highland (north) India and sub-humid to humid eastern and south-eastern upland comprise this zone. This zone contributes nearly 17% area and 13% production. Crop is sown during October and harvested by March. Triticum durum is exclusively grown  in this zone.</h5><br>

<h4>Peninsular Zone (PZ)</h4>

<h5>The Deccan plateau, Western Ghats, central highlands (south) and Karnataka plateau comprise this zone. This zone contributes 6% area and 2.5% production of wheat. The crop is sown during later half of October and harvested by March. T. aestivum, T. durum and T. dicoccum are cultivated in this zone. Thermo-sensitive varieties are most preferred.</h5><br>

<h4>Northern Hill Zone (NHZ)</h4>

<h5>It covers the humid western Himalayan regions which includes Jammu and Kashmir, Himachal Pradesh, Uttaranchal, Sikkim and Arunachal Pradesh. Nearly 4% of area and 3% of production of the Indian wheat is contributed by this zone. Crop durations are long starting from October/November, end in May/June. On higher hills the crop is sown in May/June and harvested in October/November.</h5><br>

<h4>Southern-hills Zone (SZ)</h4>

<h5>The zone comprises hilly areas of Tamil Nadu and Kerala. Wheat has a minor importance with respect to area and production. Though T. aestivum is the predominant species, T. dicoccum is also grown in some areas. Wheat is grown twice a year in this zone, i.e. May-September and October-April. Stem rust perpetuates in this zone.
</h5><br>
                    		<br> <br> <br>
               		</div>

		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Tropical Sugarcane region</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>The tropical sugarcane region consists of sugarcane agro climatic zone 4 (peninsular zone) and 5(Coastal zone) which includes the states of Maharashtra, Andhra Pradesh, Tamil Nadu, Karnataka, Gujarat, Madhya Pradesh, Goa, Pondicherry and Kerala.</h5><br>
<h4>Sub-tropical sugarcane region:</h4>
<h5> Around 55 per cent of total cane area in the country is in the sub-tropics. U.P, Bihar, Haryana and Punjab comes under this region.</h5><br>
<h4>Crop distribution:</h4>
<h5>Sugarcane growing countries of the world are lying between the latitude 36.70 north and 31.00 south of the equator extending from tropical to sub-tropical zones. In India sugarcane is cultivated all over the country from latitude 80 N to 330 N, except cold hilly areas like Kashmir valley, Himachal Pradesh and Arunachal Pradesh.</h5><br>

                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Climate requirement</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>Wheat crop has wide adaptability. It can be grown not only in the tropical and sub-tropical zones, but also in the temperate zone and the cold tracts of the far north ,beyond even the 60 degree north altitude . Wheat can tolerate severe cold and snow and resume growth with the setting in of warm weather in spring .It can be cultivated from sea level to as high as 3300 meters.<br>
The best wheat are produced in areas favoured with cool, moist weather during the major portion of the growing period followed by dry, warm weather to enable the grain to ripen properly. The optimum temperature range for ideal germination of wheat seed is 20-25 C though the seeds can germinate in the temperature range 3.5 to 35 c. Rains just after sowing hamper germination and encourage seedling blight. Areas with a warm and damp climate are not suited for wheat growing.
<br>
During the heading and flowering stages, excessively high or low temperatures and drought are harmful to wheat. Cloudy weather, with high humidity and low temperatures is conducive for rust attack. Wheat plant requires about 14-15 c optimum average temperature at the time of ripening . The temperature conditions at the time of grain filling and development are very crucial for yield. Temperatures above 250c during this period tend to depress grain weight. When temperatures are high, too much energy I lost through the process of transpiration by the plants and the reduced residual energy results in poorer grain formation and lower yields. Wheat is mainly a rabi (winter) season crop in India.<br>
</h5>
                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->

<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Nutrient management</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>With intensive agriculture, deficiency of essential nutrients has also become wide spread. The work conducted under the All India Coordinated Research Project on Micronutrient in Crops and Soils, has shown wide spread deficiency of zinc in soils in India. At the national level, the deficiency level in micro nutrients is Zn: 46 %, B: 17 %, Mo: 12 %, Fe: 11 % and Cu: 5%. The deficiency of sulphur has also been reported across a wide range of soils (38%).The yield response to sulphur has been obtained in more than 40 crops including cereal, millets, oilseeds and pulses etc. To realize the potential yield, strategies may include<br>
Site specific nutrient management for targeted yields<br>
Integration of crop residues, bio fertilizers etc with inorganic fertilization<br>
Tillage techniques like FIRBS for increasing nutrient use efficiencies<br>
Remote sensing for efficient Nutrient management<br>
Nutrient management, straw quality vis-à-vis human and animal health<br></h5>

                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->
<!--::review_part start::-->
    <section class="special_cource ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Major wheat growing states</h2>
                    </div>
                </div>
            </div>
                	<div class="col-lg-12" align='center'>

                        		<h5>oUttar pradesh<br>
oMadhya Pradesh<br>
oPunjab<br>
oHaryana<br>
oRajasthan<br>
oBihar<br>
oGujarat<br>
oWest Bengal<br>
oUttarakhand<br>
oMaharashtra<br>


</h5><br>

                    	<br> <br> <br>
               		</div>
		</div>
        </div>
    </section>
    <!--::blog_part end::-->

<!-- footer part start-->
    <footer class="footer-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-6 col-md-4 col-xl-3">
                    <div class="single-footer-widget footer_1">
                        <a href="home.html"><center> <img src="img/ourlogo.png" alt="" class="logo"></center> </a>
			<style>img.logo {
  height: 50%;
  width: 50%;
}
</style>
                        <p>This is a web portal designed specially to help farmer in providing them full assistance.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="single-footer-widget footer_2">
                        <h4>SMS Broadcast</h4>
                        <p>This service facilitate the farmer to get the information about any adverse weather condition instantly.
                        </p>
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Enter Phone Number'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter phone number'">
                                    <div class="input-group-append">
                                        <button class="btn btn_1" type="button"><i class="ti-angle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-md-4">
                    <div class="single-footer-widget footer_2">
                        <h4>Contact us</h4>
                        <div class="contact_info">
                            <p><span> Address :</span> Institute of Engineering and Technology<br>Jankipuram Sector F<br>Sitapur Road,Lucknow 226021<br></p>
                            <p><span> Phone : </span>+917007110758<br>  +917905770800<br> </p>
                            <p><span> Email :</span>1705210063@ietlucknow.ac.in<br>1705210057@ietlucknow.ac.in<br></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </footer>
    <!-- footer part end-->


{% endblock %}
