* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  height: auto;
  max-width: 1400px;
  padding: 15px;
}

h5 {
  margin-bottom: 0;
}

h5 a {
  font-family: "Times New Roman", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #435560;
  margin: 0;
}
h5 a:hover {
  color: #435560;
}

p {
  font-family: "Times New Roman", sans-serif;
  font-weight: 200;
  line-height: 26px;
  color: #414042;
  margin: 0;
}

#accordion .card {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 1px solid #d1d3d4;
}
#accordion .card .card-header {
  background: none;
  border: none;
  padding: 25px 0;
}
#accordion .card .card-header.top-headline {
  padding: 0 0 25px;
}
#accordion .card .card-body {
  font-family: "Times New Roman";
  padding: 0 0 25px;
}

.vertical-tabs .nav-link {
  text-transform: uppercase;
  color: #939598;
  font-family: "Times New Roman", sans-serif;
  font-size: 12px;
  font-weight: 500;
  border-radius: 0;
  padding: 30px;
}
@media (min-width: 768px) {
  .vertical-tabs .nav-link {
    border-bottom: 1px solid #d1d3d4;
  }
}
.vertical-tabs .nav-link.active {
  background: #fca500;
  color: #fff;
  border-bottom: none;
}
.vertical-tabs .tab-content {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .vertical-tabs .tab-content {
    margin-top: 22px;
  }
}